.Bag-conteiner {
  min-height: calc(100vh - 250px);
}
.warning {
  width: clamp(300px, 70vw, 1080px);
}
h3 svg {
  font-size: 3rem;
}
.Buscar1 {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding-left: 10px; /* inicial */
  font-size: 1rem;
  transition: padding-left 0.3s ease; /* animación suave */
  border-radius: 10px; /* opcional, suaviza las esquinas internas */
}
.Nav:focus-within .Buscar1 {
  padding-left: 35px; /* mueve el texto a la derecha */
}
#marg {
  margin-bottom: 0.8rem;
}
.check {
  width: 100vw;
  min-height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 1rem;
}
.Messaje {
  width: clamp(300px, 70vw, 1080px);
  min-height: 20rem;
  margin: 0 auto;
  padding: 16px 16px;
  border-radius: 20px;
  text-align: start;
  border: 2px gray solid;
  position: relative;
  z-index: 1;
  font-family: "JetBrains Mono", monospace;
}
.Compra {
  min-height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.whatsapp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  color: rgba(11, 235, 93);
  opacity: 0.4;
  pointer-events: none;
  z-index: -1;
}
.Pedidos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ok {
  font-size: 2rem;
  visibility: 0;
  color: greenyellow;
  transform: scale(1);
  animation: check1 2s ease-in-out forwards;
}
.red {
  color: red;
}
.enviar {
  width: 100vw;
  max-height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  text-align: center;
}
@keyframes check1 {
  0% {
    display: block;
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
