.page-error {
  min-height: calc(100vh - 160px);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.error-icons {
  font-size: 20rem;
  color: red;
}
.error-mensaje {
  font-family: "Yuji Boku", serif;
}
