.footer {
  width: clamp(350px, 100vw, 1080px);
  min-height: 5vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}
.footer p {
  margin: 0;
}
hr {
  width: 50vw;
  border: 1px black solid;
  margin: 0 auto;
  margin-top: 1rem;
  color: black;
  opacity: 1;
}
@media (width<580) {
}
