@import url("https://fonts.googleapis.com/css2?family=Satisfy&family=Yuji+Boku&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yuji+Boku&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grey+Qo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fleur+De+Leah&family=Grey+Qo&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  position: relative;
}
.link {
  text-decoration: none;
  color: initial;
}
