.Nav {
  width: 20vw;
  min-width: 300px;
  height: 40px;
  border-radius: 10px;
  padding-left: 10px;
  background: white;
  position: relative;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(80deg, #ffd700, #ff8c00, #8b0000) border-box;
  border: 1px solid transparent;
}

#Buscar {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding-left: 10px; /* inicial */
  font-size: 1rem;
  transition: padding-left 0.3s ease; /* animaci贸n suave */
  border-radius: 10px; /* opcional, suaviza las esquinas internas */
}

.icons {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, left 0.3s ease; /* animaci贸n suave */
  color: #888;
}

.Nav:focus-within #Buscar {
  padding-left: 35px; /* mueve el texto a la derecha */
}

.Nav:focus-within .icons {
  opacity: 1;
  visibility: visible;
  left: 10px; /* posici贸n final de la lupa */
}
/* Desktop y general */
.offcanvas-custom {
  height: 50vh !important;
}

/* M贸vil */
@media (max-width: 768px) {
  .offcanvas-custom {
    height: 100vh !important;
  }
}
