.buton {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 50vw;
}
.buton button {
  width: auto;
  min-width: 20px;
}
.card img {
  width: 90%;
  aspect-ratio: 4 / 3; /* ancho / alto */
  object-fit: contain;
  padding-top: 1rem;
  margin: 0 auto;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.card {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.content-product {
  width: 100vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 20rem));
  grid-auto-rows: minmax(0, 23rem);
  gap: 2rem;
  justify-content: center;
}
