.buton {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 50vw;
}
.title {
  font-family: Georgia, serif;
}
.buton button {
  width: auto;
  min-width: 20px;
}
.card img {
  width: 90%;
  aspect-ratio: 4 / 3; /* ancho / alto */
  object-fit: contain;
  padding-top: 1rem;
  margin: 0 auto;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.card {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.content-product {
  width: 100vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 20rem));
  grid-auto-rows: minmax(0, 25rem);
  gap: 2rem;
  justify-content: center;
}

.Bag {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    80deg,
    rgb(255, 215, 0, 0.5),
    rgb(255, 140, 0, 0.5),
    rgb(139, 0, 0, 0.5)
  ); /* fondo naranja semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.Bag .Bag-icons {
  font-size: 6rem;
  color: rgba(0, 0, 0, 1);
  cursor: pointer;
}
.Bag:hover {
  opacity: 1;
}
